@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
body{
    background-color: #f8f8f8;
    font-family: 'Kurale', cursive;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
.header{
    width: inherit;
    height: 100px;
    display: inline-block;
    background-image: url(img/header.png)
}
.logo{
    float: left;
    margin-left: 50px;
    margin-top: 5px;
    
}
.menu {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    float: right;
    margin-top: 25px;
}
.menu a{
    margin-right: 25px;
    color: steelblue;
    text-decoration: none;

}
.menu a:hover{
    color: darkseagreen;
}
.catalog{
    display: inline-block;
    width: inherit;
    
}
.catalog a{
    float: left;
    width: 150px;
    height: 200px;
    text-align: center;
    margin-right: 50px;
}
.small_block{
    display: inline-block;
}
.small_block a{
    float: left;
    margin-right: 50px;
}
.small_block p{
    margin-top: 70px;
}
.buy_now{
    width: 90px;
    height: 45px;
    border: 3px solid #ccc;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
        color: darkseagreen;
}
.buy_now:hover{
    background-color: cadetblue;
    color: steelblue;
}
.buy_now:active{
    background-color: steelblue;
}
.h3_tovar{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.small_text{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.big_text{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.big_text li{
    list-style-type: none;
    font-family: 'Lobster', cursive;
    color: dimgray;
    font-size: 25px;
}
.big_text li:before{
    content: "λ ";
}
input{
    height: 35px;
}
input, textarea {
    width: 550px;
    font-size: 15px;
    color: lightslategrey;
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
}
.email:hover{
    background-color: antiquewhite;
    color: cadetblue;
}
.forms{
    width: 230px;
    margin-right: 100px;
}
.img_tovar{
    outline: 3px solid #ccc;
}
.img_tovar:hover{
    outline: none;
}
td{
    text-align: center;
    padding-right: 15px;
}
.small_text:first-letter{
    color: chocolate;
    font-size: 35px;
    font-family: 'Marck Script', cursive;
}
.big_text:first-letter{
    color: chocolate;
    font-size: 35px;
    font-family: 'Marck Script', cursive;
}
.table_other{
    border: 3px solid #ccc;
    border-collapse: collapse;
}
.table_other td{
    border: 3px solid #ccc;
}
.first_col{
    height: 50px;
}
.first_row{
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}
.footer{
    background-color: gainsboro;
    height: 25px;
    margin-right: 50px;
    margin-top: 15px;
    float: right;
}