<!-- begin: primary.tmpl -->


        {% for item in nav.primary %}
        <a href="{{ item.url }}">{{ item.name|upper }}</a>
        {% endfor %}


    </div>
    </div>
<!-- end: primary.tmpl →